@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-pt-20;
}

.image-full {
  @apply rounded-none;
}

.image-full:before {
  @apply rounded-none !important;
  @apply bg-transparent !important;
  background-image: linear-gradient(to top, black, transparent);
}

.tab.tab-active:not(.tab-disabled):not([disabled]),
.tab:is(input:checked) {
  @apply border-primary;
  @apply text-primary;
}

p:not(:last-child) {
  @apply mb-4;
}

ul.nav-links li a:hover {
  @apply border-b;
  @apply border-primary;
}

ul.tool-list,
ul.tip-list,
ul.general-list {
  @apply leading-10;
  @apply list-inside;
}

ul.tool-list li,
ul.tip-list li,
ul.general-list li {
  display: flex;
}

ul.tool-list li:before,
ul.tip-list li:before,
ul.general-list li:before {
  position: relative;
  top: 0.125rem;
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

ul.general-list li a:hover {
  @apply text-primary;
}

ul.general-list li:before {
  content: url("/chevron-right.svg");
}

ul.tool-list li:before {
  content: url("/tool.svg");
}

ul.tip-list li:before {
  content: url("/tip.svg");
  width: 1.25rem;
  height: 1.25rem;
}

main section article a {
  @apply underline;
  @apply underline-offset-4;
  @apply decoration-primary;
}

main section article a:hover {
  @apply text-primary;
}
