@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply mb-4;
}

ul.tool-list,
ul.tip-list {
  @apply leading-10;
  @apply list-inside;
}

ul.tool-list li,
ul.tip-list li {
  display: flex;
}

ul.tool-list li:before,
ul.tip-list li:before {
  position: relative;
  top: 0.125rem;
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

ul.tool-list li:before {
  content: url("/tool.svg");
}

ul.tip-list li:before {
  content: url("/tip.svg");
  width: 1.25rem;
  height: 1.25rem;
}

main section article a {
  position: relative;
}

main section article a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity 0.2s ease-in-out;
  @apply -z-10;
  @apply opacity-35;
  @apply bottom-1/4;
  @apply bg-primary;
  @apply h-2;
}

main section article a:hover:after {
  @apply opacity-60;
}
